PUBLIC_EXAMPLE_ORG_ID=69c279d34b94d4dfce36e7fe
PUBLIC_QRATI_SCRIPT_URL=https://cdn.jsdelivr.net/npm/@qratilabs/qrati-connect@beta/element/web.es.js

# Astro dev automatically uses ../../dist/element/web.es.js through /@fs.
# PUBLIC_QRATI_SCRIPT_URL is used for production builds and preview.
